{% load static %}
<!doctype html>
<html lang="en">
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
   <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ google_analytics }}');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemscope itemtype="https://schema.org/InfectiousDisease" itemprop="infectiousAgent" name="description"
          content="Facts, myths and preventive measures related to the ongoing coronavirus pandemic">
    <link rel="icon" href="{% static 'covid19_home/images/corona.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'covid19_sections/sections.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    {% if title %}
        <title>COVID-19: {{ title }}</title>
    {% else %}
        <title>Debunking Myths about COVID-19</title>
    {% endif %}
</head>
<body>
    {#  Nav  #}
    <div class="nav">
        <a href="{% url 'covid19-home' %}"><i class="fas fa-home fa-2x"></i></a>
        <a class="envelope" href="{% url 'covid19-contact' %}"><i class="fas fa-2x fa-envelope"></i></a>
    </div>

    {#  Cards  #}
    <section class="info-cards">
        <div>
            <img src="{% static 'covid19_sections/images/india.jpg' %}" alt="india" />
            <h3>India</h3>
            <p>Helplines and testing centers</p>
            <a target="_blank" href="{% static 'covid19_sections/misc/COVID-19-India.pdf' %}">LEARN MORE <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="{% static 'covid19_sections/images/mask.jpg' %}" alt="myths" />
            <h3>Masks</h3>
            <p>When and how to use them</p>
            <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks">
                LEARN MORE <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="{% static 'covid19_sections/images/workplace.jpg' %}" alt="prevention" />
            <h3>Workplace Readiness</h3>
            <p>Workplace safety guidelines issued by the WHO</p>
            <a target="_blank" href="https://www.who.int/docs/default-source/coronaviruse/getting-workplace-ready-for-covid-19.pdf?sfvrsn=359a81e7_6">
                LEARN MORE <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="{% static 'covid19_sections/images/doctors.jpg' %}" alt="doctors" />
            <h3>Health Workers</h3>
            <p>Roles, responsibility and guidelines issued by the WHO</p>
            <a target="_blank" href="https://www.who.int/docs/default-source/coronaviruse/who-rights-roles-respon-hw-covid-19.pdf?sfvrsn=bcabd401_0">
                LEARN MORE <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="{% static 'covid19_sections/images/canada.jpg' %}" alt="canada" />
            <h3>Canada</h3>
            <p>Helpline numbers</p>
            <a target="_blank" href="{% static 'covid19_sections/misc/COVID-19-Canada.pdf' %}">LEARN MORE <i class="fas fa-chevron-right"></i></a>
        </div>
    </section>

    <section class="iframe-container">
        <h1 class="section-heading">Tracking the coronavirus pandemic worldwide</h1>
        <iframe src="https://infographics.channelnewsasia.com/covid-19/map.html" frameborder="0" class="iframe"></iframe>
        <p class="source">
            Courtesy: CNA
        </p>
    </section>

    <footer class="footer">
        <div class="footer-inner">
            Made with <img class="img-footer" src="{% static 'covid19_home/images/love.ico' %}" alt=""> in Bangalore ⋅
            <a href="{% url 'covid19-contact' %}"><i class="fas fa-envelope"></i></a>
        </div>
    </footer>
</body>
</html>